.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 400px;
}

.todo-actions {
  display: flex;
  gap: 4px;
}

.todo-input-container {
  margin-bottom: 10px;

  input {
    margin-right: 10px;
    padding: 0.5em 0.5em;
    width: 80%;
  }
}

.drag-handle {
  position: absolute;
  left: -25px;
  cursor: grab;
  opacity: 0.5;
  padding: 8px;
}
